<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.data.admin.AccountMapper">
    <insert id="createNewAccount" parameterType="com.example.blog.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into User(email, password, userName, userType, profile, qqNumber)
        values(#{email},#{password},#{userName},#{userType},#{profile},#{qqNumber})
    </insert>
    <insert id="insertComment" parameterType="com.example.blog.po.Comment" useGeneratedKeys="true" keyProperty="id">
        insert into comment(blogId, userId, authorName, content, comment_time)
        VALUES(#{blogId},#{userId},#{authorName},#{content},#{datetime})
    </insert>
    <select id="getAccountByName" resultMap="User">
        select * from User where email=#{email}
    </select>
    <select id="getAccountById" resultMap="User">
        select * from User where id=#{id}
    </select>
    <update id="updateAccount">
        update User set password=#{password},userName=#{userName},profile=#{profile},qqNumber=#{qqNumber}
        where id=#{id} and #{password} is not null;
        update User set userName=#{userName},profile=#{profile},qqNumber=#{qqNumber}
        where id=#{id} and #{password} is null
    </update>

    <resultMap id="User" type="com.example.hotel.po.User">
        <id column="id" property="id"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="userName" property="userName"></result>
        <result column="userType" property="userType"></result>
        <result column="profile" property="profile"></result>
        <result column="qqNumber" property="qqNumber"></result>
    </resultMap>
</mapper>