<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.data.admin.BlogMapper">
    <insert id="insertBlog" parameterType="com.example.hotel.po.Blog" useGeneratedKeys="true" keyProperty="id">
        insert into Blog(userId, categoryId, title, content, label, view_times, create_date)
        values (#{userId},#{categoryId},#{title},#{content},#{label},#{viewTimes},#{createDate})
    </insert>
    <select id="selectAllBlog" resultMap="Blog">
        select * from blog
    </select>
    <select id="selectById" resultMap="Blog">
        select * from blog where id=#{id}
    </select>
    <select id="selectAllBlogComments" resultMap="Comment">
        select * from comment where blogId=#{blogId}
    </select>
    
    <resultMap id="Blog" type="com.example.hotel.vo.BlogVO">
        <id column="id" property="id"></id>
        <result column="userId" property="userId"></result>
        <result column="categoryId" property="categoryId"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="label" property="label"></result>
        <result column="view_times" property="viewTimes"></result>
        <result column="create_date" property="createDate"></result>
    </resultMap>

    <resultMap id="Comment" type="com.example.blog.vo.CommentVO">
        <id column="id" property="id"></id>
        <result column="blogId" property="blogId"></result>
        <result column="userId" property="userId"></result>
        <result column="authorName" property="authorName"></result>
        <result column="content" property="content"></result>
        <result column="comment_time" property="datetime"></result>
    </resultMap>
</mapper>